@font-face {
    font-family: 'bookman-bold';
    src: url('~@/assets/fonts/Bookman-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'cheltenham-condensed-bold';
    src: url('~@/assets/fonts/Cheltenham-Condensed-Bold.ttf') format('truetype');
  }